# Django Settings
SECRET_KEY=
DEBUG=True
# Telegram Integration
TELEGRAM_BOT_TOKEN=

# Database Settings
NAME=
USER=
PASSWORD=
HOST=
PORT=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0