# Django Settings
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=
ORIGINS=

# Database Settings
NAME=
POSTGRES_DB=

USER=
POSTGRES_USER=

PASSWORD=
POSTGRES_PASSWORD=

HOST=db
PORT=5432

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Celery & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


